@model IEnumerable<Projeto007_RotasMVC.Models.Noticia>
@{
    ViewBag.Title = ViewBag.Categoria;
}

<h2>Categorias: @ViewBag.Categoria</h2>

<div>
    <ul>
        @foreach (var item in Model) {// A cada looping item será uma notícia diferente
            <li>
                @Html.ActionLink(item.Titulo, "MostraNoticia" , "Home" , new { //new envia para o metodo MostrarNoticia os parametros
                    @noticiaId = item.NoticiaId,
                    @categoria = item.Categoria.ToLower(),
                    @titulo = item.Titulo.ToLower()
                }, null)

                <em>@Html.DisplayFor(modelItem => item.Categoria)</em>
                <b>@Html.DisplayFor(modelItem => item.Data)</b>

            </li>
        }
    </ul>
</div>