@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <h1>@ViewBag.Message</h1>
</div>

<!--DEFININDO UM RODAPE PARA PÁGINA INDEX-->
@section rodapeEspecifico{
    <div class="container"> 
        <hr />
        <p style="color: red">ESTE RODAPÉ E EXCLUSIVO DO INDEX</p>
    </div>
}